.profileDesign{
    height: 89.5vh;
    width: 100vw;

    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    background-image: url(../../img/BackgroundColor.png);
    background-position: left bottom;
    background-repeat: no-repeat;
}

.inforUser{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.contentProfile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 1em;
}

.passwordButton{
    cursor: pointer;
}