.headerDesign{
    height: 7.3vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(89.58deg,rgba(210,202,48,.9) .01%,rgba(222, 137, 33, 0.9) 99.94%);
}

.image-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 3.5em;

}

.image-logo img {
    width: 17em; 
    height: auto; 
  }

